

body {
    font-family: Arial
}
 
h1 {
    color: blue;
}
 
div {
    background-color: lightgrey ;
}
 
a:hover {
    color: pink;
}
 
[type="submit"] {
    background-color: orange;
    color: white;
}